<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>여행 블로그</title>
    <link rel="stylesheet" type="text/css" th:href="@{ /css/index.css }" />
</head>
<body>
    <header>
        <div class="blogName">여행블로그 </div>
        <div class="nav">
            <a href="">초대</a>
            <a href="">계획</a>
            <a href="">공유</a>
            <button>로그인</button>
        </div>
    </header>
<section>
    <div class="mainContent">
    <div class="subject">
        제목
    </div>
    <div class="calendar">
        달력
    </div>
    <div class="main-contents">
        <div class="contents">
            <input placeholder="계획입력창">
        </div>
        <div class="bottom-nav">
            <button>+할일추가</button>
            <button>+지도추가</button>
            <button>수정</button>
        </div>
    </div>
    </div>
</section>

<footer>
    <a href="https://www.yanolja.com/">
        <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple211/v4/46/9f/95/469f956c-620b-dc4d-e90e-12f14424a7df/AppIcon-0-0-1x_U007emarketing-0-5-0-85-220.png/1200x630wa.png" alt="야놀자">
    </a>
    <a href="https://www.socar.kr/">
        <img src="https://design.socar.kr/images/logo_overview-1.png" alt="쏘카">
    </a>
    <a href="https://www.yeogi.com/">
        <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/d4/2b/28/d42b2841-36da-15aa-141f-9c064450c35a/AppIcon-0-0-1x_U007emarketing-0-7-0-85-220.png/1200x600wa.png" alt="여기어때">
    </a>
</footer>
</body>
</html>